<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form id="formBox" enctype="multipart/form-data">
      <input id="name" name="name" />
      <input type="file" id="img" accept="image/*" name="main_images" multiple />
      <input type="file" id="img" accept="image/*" name="images" multiple />
      <input type="submit" id="button" value="추가하기" />
    </form>
  </body>
  <script>
    const formBox = document.querySelector("#formBox");

    formBox.addEventListener("submit", async (e) => {
      e.preventDefault();

      const name = document.querySelector("#name").value;
      const img = document.querySelector("#img").file;

      const formData = new FormData(formBox);

      formData.append("price", 2000);
      formData.append("description", "블라블라");
      formData.append("category_id", 1);

      console.log("요청을 보냅니다.");
      /*const res = await fetch(`/categories/1/items`, {
        method: "post",
        body: formData,
      });
      const data = await res.json();
      //image update
      const res = await fetch(`http://localhost:3000/users/85a06d83-341e-4d07-872e-f2c0fcc4becf`, {
        method: "patch",
        headers: { "Content-Type": "application/json" },
        credentials: "include",
        body: JSON.stringify({
          email: "helsasddal1@gmail.com",
          data: {
            password: "wzxcewsdds@",
            address: "서울특별시 구구rn ehd 동동",
            phone: "010-0000-0000",
            name: "asdaswd",
          },
        }),
      });
      const data = await res.json();

      console.log("응답 데이터 : ", data);

      const res1 = await fetch(`http://kdt-sw-6-team08.elicecoding.com/categories`);
      const data1 = await res1.json();
      console.log("data1", data1);
      */
    });
  </script>
</html>
